/*========== Компоненты ==========*/

/* Политра сайта */
/* h1 #FFFFFF */
/* h2, h3 #212121 */
/* p #757575 */
/* Акцент #2196F3 */
/* Кнопка фон #188CE8 */

:root{
    --praimari-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-text-color: #2196F3;
}


/*========== /Компоненты ==========*/


/*========== Логотип ==========*/

.logo{
    font-family: 'Raleway',
    sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19px;
    text-decoration: none;
    letter-spacing: 0.03em;
}
.logo {
    color: var(--accent-text-color);
}

.studio {
    color: var(--praimari-text-color);
}

.studio:focus,
.studio:hover {
    color: var(--accent-text-color);
}

.logo:focus,
.logo:hover {
    color: #000000;
}

.logo-studio:focus,
.logo-studio:hover {
    color: #FFFFFF;
}

.footer-logo-studio:focus,
.footer-logo-studio:hover {
    color: var(--accent-text-color);
}

.logo-studio {
    color: var(--accent-text-color);
    font-family: 'Raleway',
    sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19px;
    text-decoration: none;
    letter-spacing: 0.03em;

}
.footer-logo-studio {
    font-family: 'Raleway',
    sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19px;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.logo-portfolio {
    font-family: 'Raleway',
    sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19px;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
}

.footer-logo-portfolio {
    font-family: 'Raleway',
    sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19px;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.logo-portfolio:focus,
.logo-portfolio:hover {
    color: #FFFFFF;
}

.footer-logo-portfolio:focus,
.footer-logo-portfolio:hover {
    color: var(--accent-text-color);
}

/*========== /Логотип ==========*/


/*========== WebStudio ==========*/

/*========== Header ==========*/
.body-portfolio,
.body-studio {
    font-family: 'Roboto',
    sans-serif;
}

/*========== Ссылки ==========*/

.header-link-studio {
    font-size: 14px;
    line-height: 1.14;
    color: var(--praimari-text-color);
    text-decoration: none;
    font-style:normal;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.footer-link-studio {
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF;
    text-decoration: none;
    font-style:normal;
    font-weight: 400;
    letter-spacing: 0.03em;
}

.header-link-studio:focus,
.header-link-studio:hover {
    color: var(--accent-text-color);
}

.footer-link-studio:focus,
.footer-link-studio:hover {
    color: var(--accent-text-color);
}

.footer-tel-studio:focus,
.footer-tel-studio:hover {
    color: var(--accent-text-color);
}

.footer-mail-studio:focus,
.footer-mail-studio:hover {
    color: var(--accent-text-color);
}

.footer-mail-studio,
.footer-tel-studio {
    font-size: 14px;
    line-height: 1.71;
    color:rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style:normal;
    font-weight: 400;
    letter-spacing: 0.03em;
}

.header-link-phone,
.header-link-mail {
    color: var(--secondary-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-link-mail:focus,
.header-link-mail:hover {
    color: #2196F3;
}

.header-link-phone:focus,
.header-link-phone:hover {
    color: #2196F3;
}

.footer-list-studio,
.team-studio,
.work-studio,
.description-studio,
.mail-phone-list,
.header-list-studio {
    list-style: none;
}

.header-link-mail,
.header-link-phone {
    text-decoration: none;
}

.current {
    color: #2196F3;
}


/*========== Кнопка ==========*/
.button-studio {
    background-color: #188CE8;
    color: #FFFFFF;
    border-style: none;
    border-radius: 4%;
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.87;
    font-weight: 700;
    letter-spacing: 0.06em;
}

.button-studio:hover,
.button-studio:focus {
    background-color: #2196F3;
}

/* ========== Hero =========== */

.hero {
    background-color: #2F303A;
}

.hero-title-studio {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: #FFFFFF;
    letter-spacing: 0.06em;
}

.secondary-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    color: var(--praimari-text-color);
    letter-spacing: 0.03em;
}
.description-title,
.hero-title-studio {
    text-transform: uppercase;
}

/* ========== Description ========= */

.description-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    color: var(--praimari-text-color);
    letter-spacing: 0.03em;
}

.description-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    color: var(--secondary-text-color);
    letter-spacing: 0.03em;
}

/*============ Team ===========*/

.team-title-studio {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    color: var(--praimari-text-color);
    letter-spacing: 0.03em;
}

.team-text-studio {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    color: var(--secondary-text-color);
    letter-spacing: 0.03em;
}
.our-team {
    background-color: #F5F4FA;
}

.footer-studio {
    background-color: #2F303A;
}

/*========== /WebStudio ==========*/

/*========== Portfolio ==========*/

/*=========== Ссылка ==========*/

.header-link-portfolio {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: var(--praimari-text-color);
    text-decoration: none;
    letter-spacing: 0.02em;
}

.footer-link-portfolio {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF;
    text-decoration: none;
    font-style:normal;
    letter-spacing: 0.03em;
}

.header-link-portfolio:focus,
.header-link-portfolio:hover {
    color: #2196F3;
}

.footer-link-portfolio:focus,
.footer-link-portfolio:hover {
    color: #2196F3;
}

.footer-tel-portfolio:focus,
.footer-tel-portfolio:hover {
    color: var(--accent-text-color);
}

.footer-mail-portfolio:focus,
.footer-mail-portfolio:hover {
    color: var(--accent-text-color);
}

.footer-mail-portfolio,
.footer-tel-portfolio {
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.03em;
}

/*========== Кнопка ==========*/
.button-portfolio {
    color: #212121;
    border-style: none;
    border-radius: 4%;
    cursor: pointer;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.62;
    font-weight: 500;
    letter-spacing: 0.03em;
}

.button-portfolio:hover,
.button-portfolio:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}


.buttons,
.portfolio,
.footer-list-portfolio,
.header-list-portfolio,
.mail-phone-portfolio {
    list-style: none;
}

.portfolio-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    color: var(--praimari-text-color);
    letter-spacing: 0.06em;
}

.portfolio-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    color: var(--secondary-text-color);
    letter-spacing: 0.03em;
}

.footer-portfolio {
    background-color: #2F303A;
}



/*========== /Portfolio ==========*/
